@media only screen and (max-width:240px){
    .shopBody{
        margin-top: 0rem !important;
    }
 
    .text-search-icon {
        font-size:small !important;
    }
    .headerMaxHeight{
        height: 10px ;
        margin: auto;
    }
    .textInputSearch{
        width: auto;
    }
    .btn-search {
        line-height: 12px !important;
        left: -4rem !important;
        padding: 4px !important;
        font-size: small;
    }
    .cartBagContainer{
        margin-left: 10px !important;
    }
    
    .text-cart-bag{
        font-size: 1.8rem !important;
        margin-top: 2px;
    }
    .cartNumberCount{
        font-size: 15px !important ;
    }
}