@media only screen and (max-width:343px){

	.user-name{
        display: none;
    }
	.shopBody{
		margin-top: 1.8em !important;
	  }

	  .card-item{
		margin-left: auto !important;
		margin-right: auto !important;
	  }
}
