
.text-huge{
    font-size: xx-large;
}
.text-largest{
    font-size: x-large;
}
.text-larger{
    font-size: larger;
}
.text-large{
    font-size: large;
}
.text-medium{
    font-size: medium;
}
.text-small {
    font-size: small;
}
.text-smaller {
	font-size: smaller;
}
.text-smallest {
    font-size:x-small;
}
.text-tiny {
    font-size:xx-small;
}

.line-height-0{
	line-height: 0;
}