

.headerMaxHeight{
	max-height: 3.1rem;
	height: 3.1rem;
}

.text-input-group-search{
	color:'black';
}
.textInputSearch{
	  padding-right: 5.7rem !important;
}
.textInputSearch:focus{
	  box-shadow: none !important;
		z-index: 1 !important;
}

.btn-search{
	left: -5rem;
	margin-right: -4.7rem
}


.text-cart-bag{
	font-size: 2.9rem;
	line-height:0;
	z-index: 1
}

.text-navigation-style{
	color: black;
	
}

.cartBagContainer{
	padding-top: 1px;
	max-width: 200px
}

.cartNumberCount{
	z-index: 2;
}

.text-profile-icon{
	color: black;
}

.shopBody {
	color: black;
}


.card-items {
	overflow: hidden;
}

.card-item{
	min-width: 190px;
	max-width: fit-content;
}

.card-rating{
	top:23px;
}


/* more max */
@media only screen and (min-width:1400px){
	.card-item{
		width: 18.5%;
	}
}

/* big laptop */
@media only screen and (max-width:1400px){
	.card-item{
		width: 266px;
	}
}

/* laptop */
@media only screen and (max-width:1200px){
	.card-item{
		width: 222px;
	}
}

/* small laptop */
@media only screen and (max-width:991px){
	.card-item{
		width: 220px;
	}
}



@media only screen and (max-width:998px){

	.text-navigation-style{
		display: none
		}
}
/* tablet size  */
@media only screen and (max-width:767px){
	.shopBody{
		display: block;
		margin-top: 2.5rem;
	}
	.card-item{
		width: 46%;
	}

}

/* big screen mobile size */
@media only screen and (max-width:659px){
	.card-items{
		padding-left: auto;
		padding-right: auto;
	}
	.card-item{
		width: 45%;
	}
}

/* small screen mobile size */
@media only screen and (max-width:343px){
	.card-item{
		width: 100%;
	}
}


