/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: black; 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }


.headerMaxHeight{
	max-height: 3.1rem;
	height: 3.1rem;
}

.text-input-group-search{
	color:'black';
}
.textInputSearch{
	  padding-right: 5.7rem;
}
.textInputSearch:focus{
	  box-shadow: none ;
		z-index: 1 ;
}

.btn-search{
	left: -5rem;
	margin-right: -4.7rem
}


.text-cart-bag{
	font-size: 2.9rem;
	line-height:0;
	z-index: 1
}

.text-navigation-style{
	color: black;
	
}

.cartBagContainer{
	padding-top: 1px;
	max-width: 200px
}

.cartNumberCount{
	z-index: 2;
}

.text-profile-icon{
	color: black;
}


.card-rating{
	top:23px;
}

.card-item{
	min-width: 100px !important;
	max-width: 165px !important;

}
.text-wrap{
	white-space: wrap;
}
.product-title{
	
}

.item-container{
	padding: 0 1rem !important;
}

@import url('./style/css/1400px-maxscreen.css');
@import url('./style/css/1200px-regulardesktop.css');
@import url('./style/css/998px-laptopscreen.css');
@import url('./style/css/991px-laptopscreen.css');
@import url('./style/css/767px-tabletscreen.css');
@import url('./style/css/659px-bigmobilescreen.css');
@import url('./style/css/344-574px-regularmobile.css');
@import url('./style/css/343px-smallestscreen.css');
@import url('./style/css/240px-tinyscreen.css');