

.headerMaxHeight{
	max-height: 3.1rem;
	height: 3.1rem;
}

.text-input-group-search{
	color:'black';
}
.textInputSearch{
	  padding-right: 5.7rem !important;
}
.textInputSearch:focus{
	  box-shadow: none !important;
		z-index: 1 !important;
}

.btn-search{
	left: -5rem;
	margin-right: -4.7rem
}


.text-cart-bag{
	font-size: 2.9rem;
	line-height:0;
	z-index: 1
}



.cartBagContainer{
	padding-top: 1px;
	max-width: 200px
}

.cartNumberCount{
	z-index: 2;
}

.text-profile-icon{
	
}

.shopBody {
}

@media only screen and (max-width:796px){
	.shopBody{
		display: block;
		margin-top: 2.5rem;
	}
}

.card-rating{
	top:23px;
}